*{
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(206, 96, 96);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header{
    padding: 5px 30px;
}

main{
    padding: 20px 30px;
   
}

.board-container{
    display: inline-block;
    padding-top: 2px;
}

.board, th, td {
        border: 1px solid black;
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;
        background-color: tomato;
       
}

.action-btns{
    padding-top: 20px;

}


.action-btns button{
    margin-left: 5px;
    padding: 10px 40px;
    cursor: pointer;
    background-color: rosybrown;
    border: 2px solid thistle;
    color: white;
    outline: none;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.action-btns button:hover {
    transition-duration: 0.4s;
    background-color: thistle;
    color: black;
    font-weight: bolder;
}

.board-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.safe-clicks-container{
    cursor: pointer;
}


.lose-dis{
    display: none;
} 


.win-dis{
    display: none;
}




.smiley{
    cursor: pointer;
}

.revealed{
    background-color: lightpink;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

